@import '/src/styles/reset.css';
@import '/src/styles/color.css';
body {
    
}

.page-wrapper {
    background: black;
    min-height: 100vh;
}
.header {
    background: url(/src/images/header-bg.jpg) no-repeat center/cover;
    padding: 40px 40px 133px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    position: absolute;
    left: 0;
    top: 0;
}
.header-title {
    font-size: 50px;
    text-align: center;
    color: var(--pink);
    width: 588px;
    margin-bottom: 52px;

}
.header-searches {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.header-searches__ticket, .header-searches__country  {
    background: rgba(255, 255, 255, 0.200);
    border-radius: 20px;
    color: var(--main-white);
    padding: 10px 30px;
    position: relative;
}

.header-searches__ticket::placeholder, .header-searches__country::placeholder {
    color: var(--gray);
}
.header-searches__country {
}
.main {
}
.footer {
    padding: 80px 0px 19px 0px;
}

.footer-paragr {
    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.card {
    width: 196px;
    height: 312px;
}

.card-img {
    border-radius: 50px 0;
width: 180px;
height: 227px;
}

.card-name {
    font-weight: 700;
font-size: 16px;
text-align: center;
color: var(--pink);
padding-top: 5px;
}

.card-date {
    font-weight: 400;
font-size: 16px;
text-align: center;
color: var(--main-white);
padding-top: 5px;
}

.card-location {
    font-weight: 600;
font-size: 14px;
text-align: center;
color: #fff;
padding-top: 5px;
}

.card-location__name {
    font-weight: 600;
font-size: 14px;
text-align: center;
color: #fff;
padding-top: 5px;
}